<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
</head>
<body>
  <div class="android-layout-root splash-shell">
    <div data-type="layout" class="linear-layout-vertical splash-stage">
      <div id="splashrot" data-type="layout" class="rotatelayout splash-card">
        <img id="imgsetting" data-type="image" class="splash-settings-btn" src="assets/images/setting.png" alt="Settings" />
        <img id="imgID" data-type="image" class="splash-logo" src="assets/images/smclogin.png" alt="SMC Signage" />
        <span id="txtTokenId" data-type="text" class="splash-token"></span>
        <span id="txtver" data-type="text" class="splash-version"></span>
        <div class="splash-progress-row">
          <div id="progress_view" data-type="circularprogressview" class="splash-progress"></div>
          <span id="txtCurrentProgress" data-type="text" class="splash-progress-text"></span>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
